// Colors
$primary: #55c57a;
$primary-light: #7ed56f;
$primary-dark: #28b485;
$white: #fff;
$grey: #777;
$grey-light: #f7f7f7;
$black: #000;

// Fonts
$default-font-size: 1.7rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

